# Ignorar archivos generados por el IDE y configuraciones locales
.idea/
*.iml

# Ignorar logs de la aplicación
*.log

# Ignorar archivos de compilación de Java
*.class

# Ignorar la carpeta de dependencias locales de Maven
.m2/

# Ignorar la carpeta target donde se construyen los JARs y otros artefactos
target/

# Pero permitir solo el archivo JAR compilado (ajusta el nombre si es necesario)
!target/support-0.0.1-SNAPSHOT.jar
